@import "../../styles.scss";
.nav-link {
    color: #4e4e4e;
    &:hover {
        color: #000;
    }
    &:active {
        color: #000;
        font-weight: 600
    }
}

.active {
    color: #000;
    font-weight: 600;
}

.btn-warning {
    color: #fff;
    border-radius: 15px;
    &:hover {
        color: #000;
        background-color: #fff;
    }
}
