<div class="container box-card">
    <div class="row justify-content-center">
        <div *ngFor="let item of newArray" class="card-people col-12 col-sm-6 col-lg-4 mt-4">
            <a class="card-link" [routerLink]="['/detail/'+ item.id]">
                <!--<img class=" card-img-top img-fluid " src="{{item.photo}} ">-->
                <div class="box-img" [ngStyle]="{'background-image': 'url('+ item.photo + ')' }">

                </div>
                <div class="card-body card-people-description ">
                    <p class="card-text card-name ">{{item.name}}</p>
                    <p class="card-text card-fecha ">{{item.birthdate}}</p>
                    <span class="card-text card-categoria ">{{item.job}}</span>
                </div>
            </a>
        </div>
    </div>
</div>
