<div class="row home">
    <div class="col-4 tituloportada">
        <h2 class="tituloportada">Descubre<br> perfiles de <br><span class="destacado">famosos</span></h2>
    </div>
    <div class="col-8">
        <img class="imgportada" src="assets/images/main-1.png">
    </div>

    <div id="botonBusqueda" class="input-group mb-3">
        <input type="text" class="form-control mibuscador" placeholder="Busqueda por nombre o apellido" aria-label="Busqueda por nombre o apellido" aria-describedby="button-addon2" #nombre>
        <button (click)="navigateToSearch(this.nombre.value)" class="btn btn-warning btn-busqueda" type="button"><img src="assets/images/search.svg"></button>
    </div>
</div>
